@import "header.css";
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
}

main{
    height: 100vh;
}

h5{
    font-size: 1.8em;
}
p{
    font-size: 1.3em;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 40px;
    /*background-image: url("/src/assets/images/background-pokemon-field3.jpg");*/
    background-image: linear-gradient(rgb(77, 185, 235), rgb(188, 242, 255));
    background-repeat: no-repeat;
    background-size: cover;
}

.line{
    height: 2px;
    background-color: #656565;
    margin: 10px 0 20px 0;
}

.card-img-top{
    filter: grayscale(100%);
}

.card-img-top:hover{
    filter: grayscale(0%);
    transform: scale(0.9);
    transition: 1.5s;
}

.card{
    box-shadow: 5px 5px 5px rgb(41, 41, 41);
    float: left;
    margin-bottom: 20px; 
    margin-left: 20px;
}

.input-group{
    margin-left: 2px;
}

.ghost{
    background-color: #705898;
}
.ice{
    background-color: #98d8d8;
}

.fire {
    background-color: #f05030; 
}

.grass {
    background-color: #78c850 ; 
}

.electric {
    background-color: #f8d030; 
}

.water {
    background-color: #6890f0;
}

.ground {
    background-color: #e0c068; 
}

.rock {
    background-color: #b8a038; 
}

.fairy {
    background-color: rgba(252, 234, 255, 0.8); 
}

.poison {
    background-color: #a040a0; 
}

.bug {
    background-color: #68a090; 
}

.dragon {
    background-color: #7038f8; 
}

.psychic {
    background-color: #f85888; 
}

.flying {
    background-color: #a890f0; 
}

.fighting {
    background-color: #903028; 
}

.normal {
    background-color: #a8a878; 
}

.wrapper-content {
    background-color: #fff; 
    padding: 15px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    width: 100%; 
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
