.line{
    height: 2px;
    background-color: #656565;
    margin: 10px 0 20px 0;
}

.Poke-top{
    text-align: center;
    margin-top: 10px;
}

.col-md-3{
    background-color: #f3f3f3;
    height: 700px;
    width: 25%;
    box-shadow: 2px 3px 3px rgb(41, 41, 41);
    margin-top: 20px;
    margin-left: 10px;
    padding: 2%;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    position: sticky;
    top: 120px;
}

.row{
    margin-left: 10px;
    width: 97%;
}

.search-bar {
    margin-top: 20px;
}

.filters {
    margin-top: 10px;
}

#pokemon-list {
    margin-top: 20px;
    margin-left: 30px;
}
