@import "header.css";
@import "stylecard.css";
@import "stylefilter.css";
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
    color: #000;
}

main{
    height: 100vh;
}

h5{
    font-size: 1.8em;
}

h1{
    color: #000;
}

p{
    font-size: 1.3em;
}

.pokebutton {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: 2px 3px 3px rgb(41, 41, 41);
}

.pokebutton:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
    }
    

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 40px;
    background-image: linear-gradient(rgb(77, 185, 235), rgb(188, 242, 255));
    background-repeat: no-repeat;
    background-size: cover;
}

#Botão-Final-VerMais{
    padding: 15px 30px ;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 2px 3px 3px rgb(41, 41, 41);
}
