@import "header.css";
@import "stylecard.css";
@import "stylefilter.css";
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
}

main{
    height: 100vh;
}

h5{
    font-size: 1.8em;
}

p{
    font-size: 1.3em;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 40px;
    /*background-image: url("/src/assets/images/background-pokemon-field3.jpg");*/
    background-image: linear-gradient(rgb(77, 185, 235), rgb(188, 242, 255));
    background-repeat: no-repeat;
    background-size: cover;
}